# General
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# Node.js
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Android
android/.gradle
android/.idea
android/app/build/
android/build/
android/local.properties
android/*.keystore
android/*.jks

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcuserdatad
Podfile.lock
Podfile.properties.json

# Metro/Bundler
*.jsbundle
*.map
*.metadata.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
*.junit
*.testresult

# EAS
eas.json